Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  clang-analyzer-*,
  modernize-use-override,
  modernize-use-nullptr,
  readability-container-size-empty
WarningsAsErrors: ''
HeaderFilterRegex: 'cpp/(include|src)/cult/.*'
